apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: order-service-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
    - host: 4.188.96.83.nip.io
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: order-service-svc
                port:
                  number: 80
