name: Build & Push Order Service (DockerHub)

on:
  push:
    branches: ["main"]

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: "polu99"
          password: "dckr_pat_kNL3D6lPt8ey_cKa5nDLDy6B5-4"

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: ./order-service
          file: ./order-service/Dockerfile
          push: true
          tags: |
            polu99/order-service:latest
            polu99/order-service:${{ github.sha }}
